bin/
obj/
node_modules/
*.log

# .NET
*.suo
*.user
*.userosscache
*.dbmdl
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Node
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock