@page "/"

<PageTitle>Home</PageTitle>

<Banner
  ImageSrc="images/TopBannerVolunteers.jpg"
  Alt="Volunteers"
  />

<p>
  Although we've discontinued our Soup Kitchen operations, our commitment to assisting homeless individuals on the streets and families in need remains unwavering. 
  For further information or to get involved, please call our office on (01) 864 4990 or email us at 
  <Link Href="mailto:info@feedourhomeless.ie">info@feedourhomeless.ie</Link>.
  Your support is greatly appreciated, you can make a donation at 
  <Link Href="https://www.idonate.ie/cause/feedourhomeless">idonate.ie/feedourhomeless</Link>.
</p>

<Title Text="Wo We Are" />

<div class="flex justify-between">
  <div class="w-[40%]">
    <Image ImageSrc="images/about-1.png" Alt="About Us" Class="w-full h-auto space-x-4" />
  </div>

  <p class="w-[55%]">
    Feed Our Homeless was established in January 2017 by Tony Walsh and Natasha Morgan. The organisation is dedicated to making a difference to the lives of people who are affected by homelessness and those who are marginalised in society. With lived experiences of poverty, homelessness and addiction, Tony and Natasha understand the daily struggles people can face. The original name chosen, Feed Our Homeless, is arguably narrowly focused and a range of services is currently provided.
    At the heart of what we do, the organisation encourages people to regain agency in their lives and once again become productive members of society.
  </p>
</div>